@import "tailwindcss";

html {
  color-scheme: light;

  &.dark {
    color-scheme: dark;
  }
}

.dark\:blend {
  &:where(.dark, .dark *) {
    background-color: color-mix(in oklab, var(--color-sky-950), var(--color-sky-900));
  }
}

body {
  font-family: 'Onest Variable', sans-serif;
}